//Citrus Citrus.scss starter

$primary-color: #66B034;
$secondary-color: #618A37;
$tertiary-color: #fff;
$darktext-color: #000;
$background-light:#CCC;
$font-link-followed:rgba(255, 255, 255, 0.2);
$font-link-focus:rgba(255, 255, 255, 0.4);

$font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
$secondary-font-famiy:"Palatino Linotype", "Book Antiqua", Palatino, serif;
$minmargin: 0;
$minpadding:0;
$floatmargin:0 auto;

$font-small: 14px;
$font-medium: 18px;
$font-large:20px;
$font-super:36px;



//watch the compile live
//https://www.sassmeister.com/