//Citrus Citrus.scss starter

$primary-color: #66B034;
$secondary-color: #618A37;
$tertiary-color: #fff;
$darktext-color: #000;
$background-light:#CCC;
$font-link-followed:rgba(255, 255, 255, 0.2);
$font-link-focus:rgba(255, 255, 255, 0.4);

$font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
$secondary-font-famiy:"Palatino Linotype", "Book Antiqua", Palatino, serif;
$minmargin: 0;
$minpadding:0;
$floatmargin:0 auto;

$font-small: 14px;
$font-medium: 18px;
$font-large:20px;
$font-super:36px;

article, aside, footer, header, nav, section, body{
    margin: $minmargin;
    padding: $minpadding;
}

body{
    font-family: $font-family;
    color: $darktext-color;
    background-color: $primary-color;
}
#container{
    max-width: 840px;
    margin: $floatmargin;
}
header{ 
    height: 200px;
}
#maincontent{
    margin-top: 80px;
    padding: 10px 0;
}

h1, h2{
    color:$darktext-color;
}
ul, h1, h2{
    margin: $minmargin;
    padding: $minpadding;
}

//mixin
@mixin navMenu{
    ul{
        list-style: none;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: $font-large;
    }
    li{
        float:left;
    }
    a{
        display: block;
        width: 140px;
        padding:10px;
        text-align: center;
        text-decoration: none;
        color: $tertiary-color;
        border: 1px solid $secondary-color;
        margin: 5px 0;
        border-radius: 8px;
        box-shadow: 1px 1px 3px rgba(0,0,0,.80);
        text-shadow: 1px 1px 3px rgba(0,0,0,.80);
    }
}



nav{
    @include navMenu();
}



//watch the compile live
//https://www.sassmeister.com/